<!DOCTYPE html>
<html>
<head>
<title>Candidate Search</title>
</head>

<body>

<h2>Search Candidate</h2>

<input id="search" placeholder="Enter name">

<div id="results"></div>

<script>
document.getElementById("search").addEventListener("keyup", async function(){

    let q = this.value;

    if(q.length < 2) return;

    let res = await fetch("/api/search/"+q);
    let json = await res.json();

    let div = document.getElementById("results");
    div.innerHTML="";

    json.data.forEach(r=>{
        div.innerHTML += `<p>${r.candidate} - ${r.votes}</p>`;
    });

});
</script>

</body>
</html>
