<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>
body { font-family:Arial; padding:20px; }
canvas { max-width:400px; margin:20px; }
</style>
</head>

<body>

<h2>Dashboard</h2>

<canvas id="barChart"></canvas>
<canvas id="pieChart"></canvas>

<script>
async function loadCharts(){

    let res = await fetch("/api/summary");
    let json = await res.json();

    let labels = json.data.map(d=>d.Alliance);
    let seats = json.data.map(d=>d.Seats);

    new Chart(document.getElementById("barChart"), {
        type:'bar',
        data:{ labels:labels, datasets:[{ data:seats }] }
    });

    new Chart(document.getElementById("pieChart"), {
        type:'pie',
        data:{ labels:labels, datasets:[{ data:seats }] }
    });
}

loadCharts();
</script>

</body>
</html>
