async function loadTable(){

    let tbody = document.getElementById("tableBody");

    tbody.innerHTML = `<tr><td colspan="9">Loading...</td></tr>`;

    try {

        let res = await fetch("/api/constituency/all");
        let json = await res.json();

        tbody.innerHTML = "";

        if(!json.data || json.data.length === 0){
            tbody.innerHTML = `<tr><td colspan="9">No data found</td></tr>`;
            return;
        }

        json.data.forEach(r => {

            tbody.innerHTML += `
            <tr>
                <td>${r.constituency}</td>
                <td>${r.const_no}</td>
                <td>${r.leading_candidate}</td>
                <td>${r.leading_party}</td>
                <td>${r.trailing_candidate}</td>
                <td>${r.trailing_party}</td>
                <td>${r.margin}</td>
                <td>${r.round}</td>
                <td>${r.status}</td>
            </tr>`;
        });

    } catch (err){
        tbody.innerHTML = `<tr><td colspan="9">Error loading data</td></tr>`;
        console.error(err);
    }
}
